.loader{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: dashed 3px teal;
  /*чтобы анимация заработала нужно добавить ключевые кадры 
  в свойство animation в нужном классе (т.е. в этом), 
  длительность анимации(в нашем случае - сколько анимация от кадра from будет отрисовываться до кадра to)
  , продолжительность анимации(укажем infinite - что значит бесконечность),
  и функцию анимации - linear*/
  animation: rotate 1s infinite linear;
}

/*ключевые кадры создаются с помощью ключевого слова @keyframes
после чего указывается название набора кадров*/
@keyframes rotate{
  /*В данном наборе кадров будет лишь два кадра - начало и конеч*/
  from{
    transform: rotate(0deg) scale(1);
  }
  to{
    transform: rotate(360deg) scale(1.4);
  }
}